table {
    width: 20vw;
}
table tr:nth-child(even) {
    background-color: #f1e7e7;
}

table tr:nth-child(odd) {
    background-color: #bfb2b2c2;
}

table tfoot {
    font-weight: bold;
}

